<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> views/index</p>
    <p>To search for flight routes, <a href="views/flights/index.ejs">Click here</a></p>
  </body>
</html>
