<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views/Flights/Index</title>
</head>
<body>
    <h1>Flights</h1>
    <ul>
      <% flights.forEach(function(t) { %>
        <li>
          <%= t.flight %>
            <!-- - 
          <%= t.done ? 'done' : 'not done' %> -->
        </li>
      <% }); %>
    </ul>
  </body>
</html>